<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> Prohibido guardar este comentario:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :content, "Comentario", style: "display: block; font-weight: bold;" %>
    <%= form.text_field :content , class: "form-control" %>
  </div>

 <!--
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  hidden para que se mantenga oculto y la vista new no me lo pida y se haga x defecto
--> 

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <!--
  <div>
    <%= form.label :publication_id, style: "display: block" %>
    <%= form.text_field :publication_id %>
  </div>
  -->

  <div>
    <%= form.hidden_field :publication_id, value: current_user.id %>
  </div>

  <div style="margin-top: 10px;">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>