<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> Prohibido guardar esta publicación: </h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :title, "Título", style: "display: block; font-weight: bold;" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :image, "Url de la imagen", style: "display: block; font-weight: bold;" %>
    <%= form.text_field :image, class: "form-control" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :description, "Descripción de la publicación", style: "display: block; font-weight: bold;" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <!--
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>
  -->
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>


  <div style="margin-top: 10px;">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
