<!-- <p style="color: green"><%= notice %></p> -->

<div class="positionimage">
    <h1 class="titulo">Publicaciones</h1> <br>
    <%= link_to "Nueva publicación", new_publication_path, class:"btn btn-dark" %>
    <div id="publications" class="positionimage">
      <% @publications.each do |publication| %>
        <%= render publication %>
        <p>
      <b> <%= link_to "Mostrar esta publicación", publication, class:"btn btn-primary" %> </b>
        </p>
      <% end %>
    </div>

    <%= link_to "Nueva publicación", new_publication_path, class:"btn btn-dark" %> <br> <br>
</div>
