<!-- <p style="color: green"><%= notice %></p> -->

<%= render @publication %>

<div>

  <% if user_signed_in? %>
<!--  < if current_user.admin? || current_user.id == @publication.user_id >se agrega tb lo de curren user admin para que tb pueda ver los enlaces-->
    <% if current_user.id == @publication.user_id %>
        <%= link_to "Editar this publication (enlace vista show de publication)", edit_publication_path(@publication) %> |
        <%= button_to "Destroy this publication(enlace vista show de publication)", @publication, method: :delete %>
    <% end %>
  <% end %>

  <%= link_to "Volver to publications", publications_path %>
</div>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
      <p><strong>Nombreee: </strong><%= comment.user.name %></p>
      <p><strong>Contenido: </strong><%= comment.content %></p>
      <%= link_to "Editar este comentario", edit_comment_path(comment) %> <!--- esto para editar y eliminar comentarios-->
      <%= button_to "Destroy este comentario", comment, method: :delete %>
  <% end %>
<% else %>
  <p>No hay comentarios aún para esta publicación.</p>
<% end %>

<%= form_with(model: @comment, url: publication_comments_path(@publication)) do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>


